@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn{
  @apply rounded-full border-2 border-slate-300 px-2  font-semibold bg-white ;
}
.btn-purple{
  @apply text-purple-600;
}
.btn-green{
  @apply text-green-600;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
